## Import packages

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Extract data

In [3]:
crimes = pd.read_csv('../data/42_Cases_under_crime_against_women.csv')

In [5]:
adductions = pd.read_csv('../data/39_Specific_purpose_of_kidnapping_and_abduction.csv')

## Data cleaning

In [7]:
crimes.shape

(4165, 22)

In [6]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4165 entries, 0 to 4164
Data columns (total 22 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Area_Name                                                     4165 non-null   object
 1   Year                                                          4165 non-null   int64
 2   Group_Name                                                    4165 non-null   object
 3   Sub_Group_Name                                                4165 non-null   object
 4   Cases_Acquitted_or_Discharged                                 4165 non-null   int64
 5   Cases_charge_sheets_were_not_laid_but_Final_Report_submitted  4165 non-null   int64
 6   Cases_Chargesheeted                                           4165 non-null   int64
 7   Cases_Compounded_or_Withdrawn                                 4165 non-null   int64
 8   Cases_Convicted                                               4165 non-null   int64
 9   Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law  4165 non-null   int64
 10  Cases_Investigated_Chargesheets+FR_Submitted                  4165 non-null   int64
 11  Cases_not_Investigated_or_in_which_investigation_was_refused  4165 non-null   int64
 12  Cases_Pending_Investigation_at_Year_End                       4165 non-null   int64
 13  Cases_Pending_Investigation_from_previous_year                4165 non-null   int64
 14  Cases_Pending_Trial_at_Year_End                               4165 non-null   int64
 15  Cases_Pending_Trial_from_the_previous_year                    4165 non-null   int64
 16  Cases_Reported                                                4165 non-null   int64
 17  Cases_Sent_for_Trial                                          4165 non-null   int64
 18  Cases_Trials_Completed                                        4165 non-null   int64
 19  Cases_Withdrawn_by_the_Govt                                   4165 non-null   int64
 20  Cases_withdrawn_by_the_Govt_during_investigation              4165 non-null   int64
 21  Total_Cases_for_Trial                                         4165 non-null   int64
dtypes: int64(19), object(3)
memory usage: 716.0+ KB

table 'crimes' is clean

In [8]:
adductions.shape

(3569, 20)

In [9]:
adductions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3569 entries, 0 to 3568
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area_Name                  3569 non-null   object
 1   Year                       3569 non-null   int64
 2   Group_Name                 3569 non-null   object
 3   Sub_Group_Name             3569 non-null   object
 4   K_A_Cases_Reported         3562 non-null   float64
 5   K_A_Female_10_15_Years     3178 non-null   float64
 6   K_A_Female_15_18_Years     3231 non-null   float64
 7   K_A_Female_18_30_Years     3260 non-null   float64
 8   K_A_Female_30_50_Years     3119 non-null   float64
 9   K_A_Female_Above_50_Years  2948 non-null   float64
 10  K_A_Female_Total           3407 non-null   float64
 11  K_A_Female_Upto_10_Years   3074 non-null   float64
 12  K_A_Grand_Total            3510 non-null   float64
 13  K_A_Male_10_15_Years       3086 non-null   float64
 14  K_A_Male_15_18_Years       3081 non-null   float64
 15  K_A_Male_18_30_Years       3202 non-null   float64
 16  K_A_Male_30_50_Years       3152 non-null   float64
 17  K_A_Male_Above_50_Years    3011 non-null   float64
 18  K_A_Male_Total             3312 non-null   float64
 19  K_A_Male_Upto_10_Years     3098 non-null   float64
dtypes: float64(16), int64(1), object(3)
memory usage: 557.8+ KB

table 'adductions' contains null values

In [10]:
adductions[adductions['K_A_Cases_Reported'].isna()]

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
115,Tripura,2005,Kidnap - For Adoption,01. For Adoption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
139,Tripura,2006,Kidnap - For Adoption,01. For Adoption,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,Madhya Pradesh,2003,Kidnap - For Begging,02. For Begging,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
510,Madhya Pradesh,2003,Kidnap - For Camel Racing,03. for Camel Racing,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
535,Tripura,2004,Kidnap - For Camel Racing,03. for Camel Racing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
688,Chandigarh,2002,Kidnap - For Illicit Intercourse,04. For Illicit Intercourse,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2299,Madhya Pradesh,2003,Kidnap - For Selling Bodyparts,10. For Selling Bodyparts,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [11]:
adductions = adductions[~adductions['K_A_Cases_Reported'].isna()]
adductions.shape

(3562, 20)