## Import packages

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Extract data

In [2]:
crimes = pd.read_csv('../data/42_Cases_under_crime_against_women.csv')

In [9]:
crimes.sample(5)

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
1036,Manipur,2010,Dowry Deaths,03. Dowry Deaths,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
3628,Mizoram,2004,Sati Prevention Act,11. Sati Prevention Act (1987),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2535,Jharkhand,2003,Immoral Traffic (Prevention) Act,08. Immoral Traffic PreventionAct (1956),1,0,7,0,1,0,...,2,3,19,14,6,7,2,0,0,21
916,Chhattisgarh,2007,Dowry Deaths,03. Dowry Deaths,65,1,106,1,23,1,...,6,14,309,292,100,106,88,0,0,398
3969,Jammu & Kashmir,2004,Total Crime Against Women,12. Total Crimes Against Women,984,61,1892,66,160,198,...,592,535,6962,6280,2208,1892,1144,0,0,8172

In [4]:
adductions = pd.read_csv('../data/39_Specific_purpose_of_kidnapping_and_abduction.csv')

In [10]:
adductions.sample(5)

,Area_Name,Year,Group_Name,Sub_Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Total,K_A_Female_Upto_10_Years,K_A_Grand_Total,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Total,K_A_Male_Upto_10_Years
255,Uttar Pradesh,2001,Kidnap - For Begging,02. For Begging,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,NaN,NaN,NaN,5.0,3.0
310,Karnataka,2004,Kidnap - For Begging,02. For Begging,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
3280,Karnataka,2002,Kidnap - Total,14. Total (Sum of 1-13 Above),645.0,3.0,12.0,333.0,50.0,3.0,401.0,0.0,661.0,1.0,6.0,158.0,84.0,10.0,260.0,1.0
620,Andhra Pradesh,2009,Kidnap - For Camel Racing,03. for Camel Racing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
784,Mizoram,2005,Kidnap - For Illicit Intercourse,04. For Illicit Intercourse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Data cleaning

In [6]:
crimes.shape

(4165, 22)

In [7]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4165 entries, 0 to 4164
Data columns (total 22 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Area_Name                                                     4165 non-null   object
 1   Year                                                          4165 non-null   int64
 2   Group_Name                                                    4165 non-null   object
 3   Sub_Group_Name                                                4165 non-null   object
 4   Cases_Acquitted_or_Discharged                                 4165 non-null   int64
 5   Cases_charge_sheets_were_not_laid_but_Final_Report_submitted  4165 non-null   int64
 6   Cases_Chargesheeted                                           4165 non-null   int64
 7   Cases_Compounded_or_Withdrawn                                 4165 non-null   int64
 8   Cases_Convicted                                               4165 non-null   int64
 9   Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law  4165 non-null   int64
 10  Cases_Investigated_Chargesheets+FR_Submitted                  4165 non-null   int64
 11  Cases_not_Investigated_or_in_which_investigation_was_refused  4165 non-null   int64
 12  Cases_Pending_Investigation_at_Year_End                       4165 non-null   int64
 13  Cases_Pending_Investigation_from_previous_year                4165 non-null   int64
 14  Cases_Pending_Trial_at_Year_End                               4165 non-null   int64
 15  Cases_Pending_Trial_from_the_previous_year                    4165 non-null   int64
 16  Cases_Reported                                                4165 non-null   int64
 17  Cases_Sent_for_Trial                                          4165 non-null   int64
 18  Cases_Trials_Completed                                        4165 non-null   int64
 19  Cases_Withdrawn_by_the_Govt                                   4165 non-null   int64
 20  Cases_withdrawn_by_the_Govt_during_investigation              4165 non-null   int64
 21  Total_Cases_for_Trial                                         4165 non-null   int64
dtypes: int64(19), object(3)
memory usage: 716.0+ KB

In [8]:
crimes.duplicated(subset=['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name']).sum()

0

Table 'crimes' is clean
- It contains no missing data
- Columns are in correct types
- It contains no duplicates  
However, there seem to be repeatations between column 'Group_Name'and column 'Sub_Group_Name'. Therefore, we're going to drop column 'Sub_Group_Name' since it provides no additional information

In [11]:
crimes = crimes.drop(columns=['Sub_Group_Name'])

In [12]:
adductions.shape

(3569, 20)

In [13]:
adductions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3569 entries, 0 to 3568
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area_Name                  3569 non-null   object
 1   Year                       3569 non-null   int64
 2   Group_Name                 3569 non-null   object
 3   Sub_Group_Name             3569 non-null   object
 4   K_A_Cases_Reported         3562 non-null   float64
 5   K_A_Female_10_15_Years     3178 non-null   float64
 6   K_A_Female_15_18_Years     3231 non-null   float64
 7   K_A_Female_18_30_Years     3260 non-null   float64
 8   K_A_Female_30_50_Years     3119 non-null   float64
 9   K_A_Female_Above_50_Years  2948 non-null   float64
 10  K_A_Female_Total           3407 non-null   float64
 11  K_A_Female_Upto_10_Years   3074 non-null   float64
 12  K_A_Grand_Total            3510 non-null   float64
 13  K_A_Male_10_15_Years       3086 non-null   float64
 14  K_A_Male_15_18_Years       3081 non-null   float64
 15  K_A_Male_18_30_Years       3202 non-null   float64
 16  K_A_Male_30_50_Years       3152 non-null   float64
 17  K_A_Male_Above_50_Years    3011 non-null   float64
 18  K_A_Male_Total             3312 non-null   float64
 19  K_A_Male_Upto_10_Years     3098 non-null   float64
dtypes: float64(16), int64(1), object(3)
memory usage: 557.8+ KB

We drop the column 'Sub_Group_Name' for the same reason as that of table 'crimes'

In [15]:
adductions = adductions.drop(columns=['Sub_Group_Name'])

It's nonsense for such derived columns as 'K_A_Female_Total', 'K_A_Male_Total' and 'K_A_Grand_Total' to have null values, so we drop these columns and re-calculate them later.

In [16]:
adductions = adductions.drop(columns=['K_A_Female_Total', 'K_A_Male_Total', 'K_A_Grand_Total'])

The remained missing data now can be interpreted as 'no record of' in this reasearch. Therefore, it's understandable to replace null values by 0.

In [17]:
adductions = adductions.fillna(0)
adductions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3569 entries, 0 to 3568
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Area_Name                  3569 non-null   object
 1   Year                       3569 non-null   int64
 2   Group_Name                 3569 non-null   object
 3   K_A_Cases_Reported         3569 non-null   float64
 4   K_A_Female_10_15_Years     3569 non-null   float64
 5   K_A_Female_15_18_Years     3569 non-null   float64
 6   K_A_Female_18_30_Years     3569 non-null   float64
 7   K_A_Female_30_50_Years     3569 non-null   float64
 8   K_A_Female_Above_50_Years  3569 non-null   float64
 9   K_A_Female_Upto_10_Years   3569 non-null   float64
 10  K_A_Male_10_15_Years       3569 non-null   float64
 11  K_A_Male_15_18_Years       3569 non-null   float64
 12  K_A_Male_18_30_Years       3569 non-null   float64
 13  K_A_Male_30_50_Years       3569 non-null   float64
 14  K_A_Male_Above_50_Years    3569 non-null   float64
 15  K_A_Male_Upto_10_Years     3569 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 446.3+ KB

In [20]:
adductions['K_A_Female_Total'] = adductions['K_A_Female_10_15_Years'] + adductions['K_A_Female_15_18_Years'] + adductions['K_A_Female_18_30_Years'] + adductions['K_A_Female_30_50_Years'] + adductions['K_A_Female_Above_50_Years'] + adductions['K_A_Female_Upto_10_Years']
adductions['K_A_Male_Total'] = adductions['K_A_Male_10_15_Years'] + adductions['K_A_Male_15_18_Years'] + adductions['K_A_Male_18_30_Years'] + adductions['K_A_Male_30_50_Years'] + adductions['K_A_Male_Above_50_Years'] + adductions['K_A_Male_Upto_10_Years']
adductions['K_A_Grand_Total'] = adductions['K_A_Female_Total'] + adductions['K_A_Male_Total']
adductions.sample(5)

,Area_Name,Year,Group_Name,K_A_Cases_Reported,K_A_Female_10_15_Years,K_A_Female_15_18_Years,K_A_Female_18_30_Years,K_A_Female_30_50_Years,K_A_Female_Above_50_Years,K_A_Female_Upto_10_Years,K_A_Male_10_15_Years,K_A_Male_15_18_Years,K_A_Male_18_30_Years,K_A_Male_30_50_Years,K_A_Male_Above_50_Years,K_A_Male_Upto_10_Years,K_A_Female_Total,K_A_Male_Total,K_A_Grand_Total
2805,West Bengal,2006,Kidnap - For Unlawful Activity,110.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,105.0,4.0,0.0,0.0,1.0,109.0,110.0
3398,West Bengal,2005,Kidnap - Total,1207.0,13.0,84.0,888.0,51.0,0.0,3.0,0.0,0.0,153.0,12.0,1.0,2.0,1039.0,168.0,1207.0
2461,Nagaland,2001,Kidnap - For Slavery,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75,Chhattisgarh,2004,Kidnap - For Adoption,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1599,Chandigarh,2005,Kidnap - For Ransom,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0

## Analysis
### Which state is the most dangerous (safest) for women?